<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Script-Type" content="text/javascript">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404:Error</title>
    <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <script src='https://unpkg.com/react-router-dom@5.0.0/umd/react-router-dom.min.js'></script>
    <script src="https://requirejs.org/docs/release/2.3.5/minified/require.js"></script>
    <style>
      <%- include("../public/App.css")%>
      </style>
  </head>
  <body>
    <div id="mydiv1223"></div>
    <h1>404 Error-This page not Found!!!</h1>
    <a href="/"><h4>Try going to the home page</h4></a>
</script>
</body>
</html>